<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1></h1>
    <ul id="container">
      <h1><%= title %></h1>
      <li><%= userInfo.username %></li>
      <li><%= userInfo.gender %></li>
      <li>
        <%= userInfo.birthYear %> - <%= userInfo.birthMonth %> - <%=
        userInfo.birthDay %>
      </li>
      <li><%= userInfo.hobby %></li>
      <li><%= userInfo.color %></li>
      <li><%= userInfo.number %></li>
    </ul>
  </body>
</html>
